.mode {
  position: absolute;
  top: 20px;
  right: 15%;
  background-color: #abbdd0;
  color: rgb(35, 35, 35);
  width: auto;
  padding: 8px 14px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 15px;
}

.main-container {
  border: none;
  box-shadow: 1px 1px 30px;
  border-radius: 20px;
  margin: 80px auto;
  padding: 10px;
  max-width: 60rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.header-section {
  display: flex;
  justify-content: center;
  gap: 15rem;
  object-fit: contain;
}

.header {
  display: inline;
  justify-content: left;
}

h2 {
  text-align: left;
  margin-bottom: 0.6rem;
}

.header p {
  text-align: left;
  font-size: 0.8rem;
}

.short-data {
  max-width: fit-content;
  max-height: fit-content;
  padding: 0.01rem;
  font-size: 0.7rem;
  border: none;
  background-color: transparent;
  margin: 20px auto;
  cursor: pointer;
}

.search-section {
  margin: 20px;
}

.search-bar {
  width: 80%;
  border: none;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
}

.clear-search {
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 1.2rem;
}

.reset-button {
  background-color: rgb(65, 65, 204);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 10px;
}

.search-result {
  text-align: left;
}

.movie-list {
  display: flex;
  justify-content: left;
}

.movie-card-item{
  border: none;
  border-radius: 4px;
  background-color: rgb(208, 234, 243);
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 30rem;
  padding: 10px;
}

.name-detail{
  display: flex;
  justify-content: left;
  gap: 10px;
}

.movie-title{
  text-align: left;
  font-weight: bold;
}

.movie-realseYear{
  color: #8b8a8a;
}

.movie-genre{
    color: #8b8a8a;

}

.genre-details{
  display: flex;
  justify-content: left;
}

.movie-rating{
  margin-right: 20px;
  background-color: orange;
 padding: 0px 4px;
 border-radius: 10px;
 width: 3.5em;
}



.movie-secondgenre{
   border: none;
  border-radius: 10px;
  background-color: azure;
  padding: 0px 8px 5px;

}
.movie-extragenre{
  padding: 0px 5px;

}
.movie-favourite{
  border: none;
  padding: 5px;
  height: fit-content;
  text-align: center;
  margin: 40px 0px 20px;
   border: none;
  border-radius: 15px;
    background: transparent;
  color: #000000;
  padding: 8px 20px;
}

.movie-favourite.active{
  background-color: rgb(239, 73, 73);
  color: #ffffff;
}

.favourite-movies{
  padding-left: 60px;
}

.fav-movie-header{
  display: flex;
  justify-content: space-between;
  gap: auto;
  column-gap: 85px;
}

.fav-movie-header p{
  font-size: 0.8rem;
}